video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.foreground {
  position: relative;
  z-index: 10;
}

html { overflow-y: hidden; }

.navbar {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.box {
  color: white; 
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
  position: fixed; 
  top: 45%; 
  left: 21%;
 
  border:10px; 
  border-style:solid;
  border-color: rgb(44, 130, 243);

  filter: drop-shadow(10px 10px 15px rgb(44, 130, 243))
}